.style-puce{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a:link{
    text-decoration: none;
}

.style-puce2{
    padding-bottom: 20px;
    margin: 0;
    list-style-type: none;
    margin-left: 1000px;
}

ul{
    margin-top: 20px;
}

li{
    margin-right:7%;
    float: left;
}

a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    font-weight: bold;
    color: white;
}

.gauche{
    display: inline;
}

.up{
    width: 20px;
    height: 20px;
}

body{
    background: #8f8f8f;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo1{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.logomenu{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

h1{
    color: white;
    margin: 2%;
    margin-left: 170px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding-bottom: 20px;
    padding-top: 20px;
    background: #363636;
}

.brain{
    margin-left: 700px;
    position: absolute;
}

.res{
    margin-left: 350px;
    margin-top: 100px;
}

.dev{
    margin-left: 350px;
    margin-top: 100px;
}

.man{
    margin-left: 200px;
    margin-top: 100px;
}

.ref{
    margin-left: 450px;
    margin-top: 100px;
}

.web{
    margin-left: 400px;
    margin-top: 100px;
}

.ang{
    margin-left: 470px;
    margin-top: 100px;
}

.pi{
    padding-top: 200px;
}

.ph{
    padding-top: 80px;
}

.progress-bar{
    background-color: #000000;
}

.fin{
    text-align: center;
}

footer{
    border: 1px solid rgb(0, 0, 0);
    background: #363636;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}