.style-puce{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a:link{
    text-decoration: none;
}

.style-puce2{
    padding-bottom: 20px;
    margin: 0;
    list-style-type: none;
    margin-left: 1000px;
}

ul{
    margin-top: 20px;
}

li{
    margin-right:7%;
    float: left;
}

a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    font-weight: bold;
    color: white;
}

.gauche{
    display: inline;
}

.up{
    width: 20px;
    height: 20px;
}

body{
    background: #1a1a1a;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo1{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.logomenu{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

h1{
    color: white;
    margin: 2%;
    margin-left: 170px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding-bottom: 20px;
    padding-top: 20px;
    background: #131313;
}

.fin{
    text-align: center
}

footer{
    border: 1px solid rgb(0, 0, 0);
    background: #131313;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.error{
    height: 50px;
    width: 100px;
    margin: 50px auto;
    text-align: center;
    line-height: 50px;
    border: 1px solid #FF3333;
    color: #FF3333;
    background-color: #ff8787;
    border-radius: 10px;
}